* {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.maincontainer {
    display: flex;
    flex-direction: column;
    margin: 2em auto;
    width: 50vh;
    height: 100vh;
}

p, form {
    display: flex;
    padding: 1em;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
    height: 10vh;
    border-radius: 100vh;
}

p {
    background-color: #D9D5FF;
}

form {
    background-color: #9791D3;
}

button {
    width: 8em;
    border: none;
}

label {
    margin-left: 1em;
    width: 50%;
}

.klikhierniet {
    margin: 0 auto;
    height: 2em;
    border-radius: 100vh;
    background-color: #F6A43C;
}

@media only screen and (max-width: 992px) {
    .maincontainer {
        width: 65vh;
    }
}

@media only screen and (max-width: 768px) {
    .maincontainer {
        width: 80vh;
    }
}